body {
  background-color: grey;
  color: white;
  text-align: center;
}

.divider {
  background-color: blue;
  height: 30px;
  width: 100%;
  color: black;
  padding: 15px;
}

#app {
  border: 3px solid white;
  margin: 5px 5px;
  height: 100px;
  color: black;
}

.beers-list {
  background-color: pink;
  float: left;
  width: 50%;
}

.saved-beers {
  background-color: purple;
  width: 50%;
  float: right;
}